#root {
    flex-direction: row;
    border-bottom-width: 1px;
    border-top-width: 1px;
}

.border-top {
    border-top-color: white;
}

.border-bottom {
    border-bottom-color: white;
}

#path {
    -unity-text-align: middle-left;
    flex-grow: 1;
}
